* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  background-image: url(src/assets/rando2.svg);
  background-size: cover;
  min-height: 100vh;
  grid-template-rows: 5vh 1fr;
}

.display-none {
  display: none;
}

.display {
  display: block;
}

@media (max-width: 751px) {
  #root {
    grid-template-rows: 15vh 1fr;
  }
}
