* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 1fr 100%;
  background-image: url(src/assets/rando2.svg);
  background-size: cover;
}

.display-none {
  display: none;
}

.display {
  display: block;
}
