* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Longline';
  src: src('./assets/Longline\ Regular\ Demo.ttf') format('ttf');
}

.longline {
  font-family: 'Longline';
  font-weight: 900;
}

.clickable {
  cursor: pointer;
}

.flex {
  display: flex;
}

.centered {
  align-items: center;
}

.grid {
  display: grid;

  grid-auto-rows: auto;
  gap: 1rem;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.shop-container {
  ul {
    width: 250px;
    align-self: center;
    justify-self: center;
  }

  .card {
    border-radius: 10px;

    min-width: 250px;
    max-width: 25%;
    height: 400px;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(10%);
    background-color: rgba(17, 25, 40, 0.075);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.39);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 50%;
      height: 50%;
      border-radius: 12px;
    }

    .card-infos {
      display: flex;
      flex-direction: column;
      align-items: center;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }

      .input-numb {
        max-width: 40px;

        text-align: center;

        background-color: transparent;
        backdrop-filter: invert(5%);
        border: 0px;
        border: 1px solid #ccc;
        padding: 1px 6px;
      }

      .item-title {
        text-align: center;
        padding: 0 0.5rem;
      }

      .interaction-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        button {
          font-size: larger;
          backdrop-filter: blur(16px) saturate(300%);
          -webkit-backdrop-filter: blur(16px) saturate(180%);
          background-color: rgba(17, 25, 40, 0.075);

          border: 1px solid rgba(255, 255, 255, 0.39);

          &:hover {
            scale: 0.9;

            backdrop-filter: saturate(1000%);
            border: 1px solid rgba(255, 255, 255, 0.623);
          }
        }

        .crement-container {
          height: 30px;

          input {
            height: inherit;
          }

          button {
            padding: 0.25rem;
            width: 20px;
          }
        }

        .crement-btns {
          height: inherit;
        }

        .green {
          background-color: rgba(0, 128, 0, 0.815);
        }

        .red {
          background: rgba(240, 75, 75, 0.918);
        }

        .push {
          display: flex;
          gap: 0.5rem;
        }

        .cart-btns {
          button {
            border-radius: 10px;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .grid-col-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .grid {
    gap: 2rem;
  }

  .grid-col-4 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .shop-container {
    height: fit-content;
  }
}

@media (min-width: 1140px) {
  .shop-container {
    height: 100dvh;
  }
}
